In [13]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Point
import folium

In [14]:
son_df = gpd.read_file('data/26sonora/26-SONORA/COLONIA.dbf')
hillo_df = son_df[son_df.MUNICIPIO == 49]
hillo_df.geometry = hillo_df.geometry.to_crs(epsg=4326)
hillo_df.head(3)

/home/framsses/Documents/caffenio_location/coffee/lib/python3.10/site-packages/geopandas/geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,ID,ENTIDAD,MUNICIPIO,NOMBRE,CLASIFICAC,CP,OTROS_CP,CONTROL,Geometry1_,geometry
1291,1292,26,49,OPATAS,2,83104,None,6228,"1=X,z_Y","POLYGON ((-111.01043 29.15603, -111.01040 29.1..."
1292,1293,26,49,PUEBLO ALEGRE,2,83104,None,1346,"1=X,z_Y","POLYGON ((-111.00755 29.15346, -111.01061 29.1..."
1293,1294,26,49,TUBAC,2,83104,None,1347,"1=X,z_p","POLYGON ((-111.01043 29.15603, -111.01125 29.1..."

In [15]:
coffee_loc = pd.read_csv('data/hillo_coffee_loc.csv').drop(columns=['id'])
coffee_loc['geometry'] = coffee_loc.apply(lambda row: Point((row.lng, row.lat)), axis=1)
coffee_loc.head()

/home/framsses/Documents/caffenio_location/coffee/lib/python3.10/site-packages/pandas/core/dtypes/cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

,name,lat,lng,geometry
0,Planta,29.114423,-110.912576,POINT (-110.9125764309198 29.114422977433104)
1,Girasol,29.102622,-110.992914,POINT (-110.99291392051327 29.10262242023761)
2,Dila,29.115971,-110.952745,POINT (-110.95274515982835 29.11597058609762)
3,Progreso,29.147010,-110.966135,POINT (-110.96613474672334 29.147009621422217)
4,Kino,29.099199,-110.939072,POINT (-110.93907176812294 29.099198883299785)

In [16]:
hillo_coffee_crs = 'epsg:4326'
hillo_coffee_geo = gpd.GeoDataFrame(coffee_loc,
crs = hillo_coffee_crs,
geometry = coffee_loc.geometry)
hillo_coffee_geo.head()

       name        lat         lng                     geometry
0    Planta  29.114423 -110.912576  POINT (-110.91258 29.11442)
1   Girasol  29.102622 -110.992914  POINT (-110.99291 29.10262)
2      Dila  29.115971 -110.952745  POINT (-110.95275 29.11597)
3  Progreso  29.147010 -110.966135  POINT (-110.96613 29.14701)
4      Kino  29.099199 -110.939072  POINT (-110.93907 29.09920)

In [17]:
hillo_coffee_gdf = gpd.sjoin(hillo_df, hillo_coffee_geo, predicate='intersects')
hillo_coffee_gdf.head(2)

,ID,ENTIDAD,MUNICIPIO,NOMBRE,CLASIFICAC,CP,OTROS_CP,CONTROL,Geometry1_,geometry,index_right,name,lat,lng
1324,1325,26,49,SAN BOSCO,2,83170,None,1380,"1=X,zG","POLYGON ((-111.03149 29.12198, -111.03025 29.1...",28,GasparLuken,29.121814,-111.030934
1393,1394,26,49,RAQUET CLUB,2,83200,None,1451,"1=X,ziF","POLYGON ((-110.99155 29.09145, -110.99147 29.0...",5,Navarrete,29.090023,-110.986734

In [21]:
# center: {lat: 29.098, lng: -110.950}
hillo_map = folium.Map(location=[29.098, -110.950],zoom_start=12)

display(hillo_map)